@import "tailwindcss";

@font-face {
  font-family: "Inter";
  src: url("./assets/fonts/Inter.ttf") format("truetype");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Parisienne";
  src: url("./assets/fonts/Parisienne.ttf") format("truetype");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Lora";
  src: url("./assets/fonts/Lora.ttf") format("truetype");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}